body{
    background-color: black;
    color: white;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
}

#container{
    height: 300px;
    width: 700px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.info-container{
    height: 280px;
    width: 400px;
    border: 1px solid;
}

p{
    margin-left: 20px;
}

#countries{
    margin-bottom: 20px;
    min-width: 100%;
}